Taller 1
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/IPython-for-data-science/blob/master/06-taller-1.ipynb) para acceder a la última versión online

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/IPython-for-data-science/blob/master/06-taller-1.ipynb) para ver la última versión online en `nbviewer`. 

---

**Ejercicio 1.--** Escriba una funcion en Python que reciba como argumento el nombre de un archivo en CSV y lo transforme a comandos SQL con el fin de insertar los datos en una base de datos. Para probar la función, cree un archivo CSV con el siguiente contenido:

    nombre;pais;telefono
    Mcdonald, Bertha V.;Tonga;16590927 3665
    Gay, Quynn Y.;Côte D'Ivoire (Ivory Coast);16230713 0019
    Hartman, Samson S.;Turkey;16260322 7477
    Mckay, Brennan Z.;Åland Islands;16941114 8308
    Daugherty, Ann H.;Venezuela;16180422 9555
    Justice, George F.;United Arab Emirates;16630629 5806
    Bailey, Jacqueline S.;Timor-Leste;16390230 5097
    Sears, Sawyer X.;Montserrat;16510427 2249
    Townsend, Stephen K.;Pitcairn Islands;16570616 8084
    Barrett, Howard L.;Uzbekistan;16000221 2991
    Kim, Xanthus P.;New Caledonia;16191009 2806
    Hurst, Coby M.;Montenegro;16740102 8910

**Ejercicio 2.--** Escriba una funcion en Python que reciba como argumento el nombre de un archivo en CSV y lo transforme a una tabla en HTML (un ejemplo es presentado en el próximo ejercicio). Para probar la función, cree un archivo CSV con el siguiente contenido:

    nombre;pais;telefono
    Mcdonald, Bertha V.;Tonga;16590927 3665
    Gay, Quynn Y.;Côte D'Ivoire (Ivory Coast);16230713 0019
    Hartman, Samson S.;Turkey;16260322 7477
    Mckay, Brennan Z.;Åland Islands;16941114 8308
    Daugherty, Ann H.;Venezuela;16180422 9555
    Justice, George F.;United Arab Emirates;16630629 5806
    Bailey, Jacqueline S.;Timor-Leste;16390230 5097
    Sears, Sawyer X.;Montserrat;16510427 2249
    Townsend, Stephen K.;Pitcairn Islands;16570616 8084
    Barrett, Howard L.;Uzbekistan;16000221 2991
    Kim, Xanthus P.;New Caledonia;16191009 2806
    Hurst, Coby M.;Montenegro;16740102 8910

**Ejercicio 3.--** Escriba una funcion en Python que reciba como argumento el nombre de un archivo en HTML y lo transforme a un archivo CSV. Para probar la función, cree un archivo con el siguiente contenido:

    <table cellpadding="1" cellspacing="1">
    <tr>
	    <th>nombre</th>
	    <th>pais</th>
	    <th>telefono</th>
    </tr>
    <tr>
	    <td>Bowman, Baker A.</td>
	    <td>Kazakhstan</td>
	    <td>16581202 2076</td>
    </tr>
    <tr>
	    <td>Malone, Jermaine G.</td>
	    <td>Myanmar</td>
	    <td>16370203 0648</td>
    </tr>
    <tr>
	    <td>Mejia, Trevor H.</td>
	    <td>Saint Martin</td>
	    <td>16900922 1780</td>
    </tr>
    <tr>
	    <td>Jarvis, Christine U.</td>
	    <td>Greenland</td>
	    <td>16401003 3258</td>
    </tr>
    <tr>
	    <td>Mccullough, Blaze W.</td>
	    <td>United Arab Emirates</td>
	    <td>16890809 9644</td>
    </tr>
    </table>

---

Taller 1
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/IPython-for-data-science/blob/master/06-taller-1.ipynb) para acceder a la última versión online

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/IPython-for-data-science/blob/master/06-taller-1.ipynb) para ver la última versión online en `nbviewer`. 

---